* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root
{
	--colorletras: #4a1e00;
	--colorfondo: red;
	--colorlinks: #ffb718;
	--colorblanco: #fff;
}

html {
	font-size: 0.93vw;
}

body {
	font-size: 1rem;
	color: var(--colorletras);
	font-family: "Barlow";
	background-color: #f3ede1;
}

footer {
	background-color: #eb0028;
	color: #fff;
}

.container {
	width: 73.15%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
}

.container-fluid {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.fila {
	margin-left: -1rem;
	margin-right: -1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.columna {
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	/*display: inline-block;
	vertical-align: top;*/
}

.columna-100 {
	width: 100%;
}

.columna-75 {
	width: 75%;
}

.columna-66 {
	width: 66.66%;
}

.columna-50 {
	width: 50%;
}

.columna-33 {
	width: 33.33%;
}

.columna-25 {
	width: 25%;
}

.empujar-25 {
	margin-left: 25%;
}

.empujar-33 {
	margin-left: 33%;
}

header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 3;
}

header .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

header .container .con-logo {}

header .container .con-logo img {
	display: block;
	width: 33.33%;
}

header .container .menu {}

header .container .menu a {
	text-decoration: none;
	margin: 0 0.5rem;
	color: #b41782;
}

header .container .menu :first-child {
	margin-left: 0;
}

header .container .menu a:first-of-type {
	color: blue;
}

header .container .menu :last-child {
	margin-right: 0;
}

header .container .menu a:last-of-type {
	color: blue;
}

header .container .menu a:hover {
	color: black;
}


.secciones {
	padding-bottom: 4rem;
	padding-top: 4rem;
}

.secciones h2 {
	font-size: 3.3rem;
	text-align: center;
	margin: 0;
	margin-bottom: 3.3rem;
	color: var(--colorblanco);
	text-shadow: 
	0px 0px var(--colorletras), 
	0px -1px var(--colorletras), 
	0px 1px var(--colorletras),  
	1px 0px var(--colorletras), 
	1px -1px var(--colorletras), 
	1px 1px var(--colorletras), 
	-1px 0px var(--colorletras), 
	-1px -1px var(--colorletras),  
	-1px 1px var(--colorletras) 
	;



	/*color: transparent;
	-webkit-text-stroke: 2px var(--colorletras);
	text-stroke: 1px var(--colorletras);

	text-shadow: 20px 10px 0px rgba(0,0,0,0.25);*/
}

.contenedor-imagen {
	padding-bottom: 100%;
	position: relative;

}

.ocultar-fuera:nth-child(odd) .contenedor-imagen
{
	background-color:  #ffb718;
} 

.ocultar-fuera:nth-child(even) .contenedor-imagen
{
	background-color:  red;
} 

.ocultar-fuera:nth-child(2) .contenedor-imagen
{
	background-color:  blue;
} 

.ocultar-fuera:nth-child(5) .contenedor-imagen
{
	background-color:  grey;
} 

.contenedor-imagen.rect {
	padding-bottom: 56.25%;
}

.contenedor-imagen img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

.ocultar-fuera
{
	overflow: hidden;
	margin: 1rem 0;
}

.ocultar-fuera .con-info-imagen
{
	position: absolute;
	top: 0;
	-webkit-transform: translate(-50%,-100%);
	    -ms-transform: translate(-50%,-100%);
	        transform: translate(-50%,-100%);
	text-align: center;
	left: 50%;
	width: 80%;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.ocultar-fuera:hover .con-info-imagen
{
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.ocultar-fuera .contenedor-imagen img {
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.ocultar-fuera:hover .contenedor-imagen img
{
	opacity: 0.5;
}

.contenedor-mapa {
	position: relative;
	padding-bottom: 56.25%;
}

.contenedor-mapa iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contenedor-mundo {
	padding-bottom: 56.25%;
	position: relative;
}

.contenedor-mundo img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	-webkit-transition: all .9s ease;
	-o-transition: all .9s ease;
	transition: all .9s ease;
	-webkit-transform: perspective(0) rotateX(0deg);
	        transform: perspective(0) rotateX(0deg);
}

.contenedor-mundo:hover img
{
	/*transform: perspective(300px) rotateX(360deg);*/
}

.padding-cero {
	padding: 0;
}

.padding-grande {
	padding: 4rem;
}

.boton {
	padding: 0.65rem 1rem;
	text-align: center;
	font-size: 1rem;
	display: inline-block;
	border: none;
	text-decoration: none;
}

.boton-rojo {
	background-color: var(--colorletras);;
	color: #fff;
	-webkit-transform: perspective(40px) rotateX(50deg);
	        transform: perspective(40px) rotateX(50deg);
}

.boton-morado {
	background-color: #b41782;
	color: #fff;
}

.boton-amarillo
{
	background-color: var(--colorlinks);
	color: var(--colorletras);
}

.boton-inclinado
{
	-webkit-transform: skewX(-30deg);
	    -ms-transform: skewX(-30deg);
	        transform: skewX(-30deg);
}

.boton-inclinado span
{
	-webkit-transform: skewX(30deg);
	    -ms-transform: skewX(30deg);
	        transform: skewX(30deg);
	display: inline-block;
}

.bloque-redes
{
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: 0;
}

.bloque-redes .btn-red
{
	width: 4rem;
	height: 4rem;
	color: #fff;
	text-decoration: none;
	font-size: 2rem;
	-webkit-transition: all .9s ease;
	-o-transition: all .9s ease;
	transition: all .9s ease;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	opacity: .8;
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}

.bloque-redes .btn-red:hover
{
	opacity: 1;
	-webkit-filter: grayscale(0);
	        filter: grayscale(0);
}

.bloque-redes .btn-red.btn-fb
{
	background-color: #3b5998;
}

.bloque-redes .btn-red.btn-ig
{
	background-image: linear-gradient(to bottom right, #405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d,#f56040,#f77737,#fcaf45,#ffdc80);

}

.bloque-redes .btn-red.btn-yt
{
	background-color: red;
}

.bloque-redes .btn-red.btn-tw
{
	background-color: #1da1f2;
}

.bloque-redes .btn-red i
{
	display: inline-block;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.bloque-redes .btn-red:hover i
{
	-webkit-transform: rotate(0deg) scale(1.2);
	    -ms-transform: rotate(0deg) scale(1.2);
	        transform: rotate(0deg) scale(1.2);
}

.centrar-texto
{
	text-align: center;
}

#inicio {
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: #ffb718;
}

#inicio video {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
}

#inicio .logo-grande {
	width: 50%;
	position: absolute;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}

#inicio h1 {
	width: 50%;
	position: absolute;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	text-align: center;
	font-family: 'Roboto Mono';
	font-size: 10rem;
	margin: 0;
}

#lacarta h2
{
	position: relative;
	padding-bottom: 1rem;
}

#lacarta h2::before{
	height: 0.5rem;
	width: 10%;
	background-color: var(--colorletras);;
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	bottom: 0;
	content: "";
}

#locales .desc-mapa {
	padding: 1rem;
	text-align: center;
}

#locales .desc-mapa h3 {
	margin: 0;
	font-size: 1.6rem;
}

#locales .desc-mapa p {
	font-size: 1.2rem;
}

#mundo .cuerpo-texto h2 {
	font-size: 2.3rem;
}

#contactenos .form-bloque {
	margin-bottom: 1rem;
}

#contactenos .form-bloque .form-input {
	display: block;
	width: 100%;
	padding: 0.3px 1rem;
	height: 2.6rem;
	border: 1px solid #ffb718;
	/*background-color: transparent;*/
}

#contactenos .form-bloque textarea {
	width: 100%;
	height: 10rem;
	border: 1px solid #ffb718;
}

#contactenos ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#contactenos ul li {
	padding-left: 2.66rem;
	position: relative;
	margin-bottom: 2rem;
}

#contactenos ul li i {
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 1.3rem;
}

#contactenos ul li h3 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1.3rem;
}

#contactenos ul li a {
	text-decoration: none;
	color: var(--colorletras);;
}

#testimonios h2
{
	position: relative;
	display: inline-block;
	padding: 1rem;
}

#testimonios h2::before
{
	content: "";
	position: absolute;;
	bottom: 0;
	left: 0;
	width: 1rem;
	/*border-left: 2px solid #4a1e00; 
	border-bottom: 2px solid #4a1e00; */
	border-left: 2px dotted  var(--colorletras);; 
	border-bottom: 2px dotted  var(--colorletras);; 
	height: 1rem;
}

#testimonios h2::after
{
	content: "";
	position: absolute;;
	top: 0;
	right: 0;
	width: 1rem;
	/*border-top: 2px solid #4a1e00; 
	border-right: 2px solid #4a1e00; */
	border-top: 2px dotted  var(--colorletras);; 
	border-right: 2px dotted  var(--colorletras);; 
	height: 1rem;
}



#testimonios .contenedor-testimonio {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#testimonios .contenedor-testimonio .foto {
	width: 13.3rem;
	height: 13.3rem;
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-radius: 13.3rem;
	;
}

#testimonios .contenedor-testimonio .texto-testimonio {
	display: inline-block;
	vertical-align: middle;
	padding: 2rem;
	width: calc(100% - 14rem);
}

#testimonios .empujar-25 .texto-testimonio {
	text-align: right;
}

#testimonios .contenedor-testimonio {
	margin: 2rem 0;
}

#testimonios .foto img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	position: absolute;
	left: 0;
	top: 0;
	/*transition-duration: .4s;
	transition-property: all;
	transition-delay: .1s;
	transition-timing-function: ease;*/

	-webkit-transition: all .4s .1s ease;
	-o-transition: all .4s .1s ease;
	transition: all .4s .1s ease;
}

#testimonios .foto img:hover {
	-webkit-transform: rotateY(180deg) scale(1.2);
	        transform: rotateY(180deg) scale(1.2);
}

#gracias {
	position: relative;
}

#gracias .con-texto {
	text-align: center;
}

#gracias .con-texto h2 {
	margin-top: 0;
	font-size: 2rem;
	margin-bottom: 2rem;
	position: relative;
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
}

#gracias .con-texto h2::before
{
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: 2px;
	background-color: var(--colorletras);;
	top: 0;
}


#gracias .con-texto h2::after
{
	content: "";
	position: absolute;
	right: 0;
	height: 100%;
	width: 2px;
	background-color: var(--colorletras);;
	top: 0;
}

#gracias .con-texto p::first-line {
	background-color: orange;
	color: #fff;
	font-size: 1.5rem;
	letter-spacing: 5px;
	word-spacing: 10px;
}

#gracias .con-texto p::first-letter {
	font-size: 3rem;
	color: #000;
}

#gracias img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	opacity: 0.5;
}

#gracias ::selection
{
	background-color: yellow;
	color: black;
}

#locales h2
{
	position: relative;
	display: inline-block;
	padding: 1rem 2rem;
}

#locales h2::before
{
	content: "";
	position: absolute;;
	bottom: 0;
	right: 0;
	width: 1rem; 
	height: 1rem;
	background-color: var(--colorletras);;
}

#locales h2::after
{
	content: "";
	position: absolute;;
	top: 0;
	left: 0;
	width: 1rem;
	height: 1rem;
	background-color: var(--colorletras);;
}

#servicios
{
	background-image: linear-gradient(120deg, rgba(255,0,0,1),rgba(255,255,0,1)),url(../img/plato3.jpg);
	/*background-image: linear-gradient(120deg,#ff0000 10%, yellow 50%, rgb(0,0,255) 80%, rgba(0,255,0,0.5));
	/*background-image: ;
	background-color: var(--colorblanco);
	/*background-image: url(../img/trama.png); ;
	background-repeat: repeat;*/
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.prefooter {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.prefooter .logo-footer {
	width: 10rem;
}

.prefooter ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.prefooter ul li a {
	color: white;
	text-decoration: none;
}

.prefooter .contenedor-redes a {
	width: 25%;
	display: inline-block;
	padding-bottom: 25%;
	position: relative;
	color: white;
	text-decoration: none;
	margin: -2px;
}

.prefooter .contenedor-redes a i {
	position: absolute;
	left: 30%;
	top: 40%;
	font-size: 1.3rem;
}

.prefooter .contenedor-redes a.fb {
	background-color: #4267B2;
}

.prefooter .contenedor-redes a.ig {
	background-image: linear-gradient(to bottom right, #405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d,#f56040,#f77737,#fcaf45,#ffdc80);

}

.prefooter .contenedor-redes a.tw {
	background-color: #1DA1F2;
}

.prefooter .contenedor-redes a.yt {
	background-color: #FF0000;
}

.footer {
	text-align: center;
	padding: 1rem;
	background-color: #ffb718;
	color: var(--colorletras);;
}

.hamb {
	display: none;
}

.mostrar-mobile {
	display: none;
}


.cuerpo-columna
{
	opacity: 0.5;
	transition: all .4s ease;
	/*padding: 2rem 1rem 5rem;*/
	padding: 2rem 1rem;
	height: 100%;
	text-align: center;
	position: relative;
	border: 0.1rem solid transparent; /* para que no haya un salto en la columna, se garega un borde transparente*/
}

.cuerpo-columna i
{
	display: inline-block;
	font-size: 2rem;
	transition: all .4s ease;
}

.cuerpo-columna h4
{
	font-size: 1.5rem;
}

.cuerpo-columna .boton
{
	margin-top:1rem;
	/*
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);*/
}

.cuerpo-columna:hover
{
	opacity: 1;
	border: 0.1rem solid var(--colorblanco);
	border-radius: 1rem;
	background-color: rgba(255,255,255,0.8);
	-webkit-box-shadow: 0px 0px 54px -15px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 54px -15px rgba(255,255,255,1);
	box-shadow: 0px 0px 54px -15px rgba(255,255,255,1);
}

.cuerpo-columna:hover i
{
	transform: scale(1.5);
}


/*
Caso first mobile

@media (min-width: 768px) {
css de tabllet vertical o portrait
}


@media (min-width: 992px) {
css de tabllet horizontal o landscape
}

@media (min-width: 1200px) {
css de desktop
}
*/

@media (min-width: 1200px) {
	/*css desktop*/
}

@media (max-width: 1199px) {
	/*css tablet horizontal o landscap*/
	.container {
		width: 960px;
	}
}

@media (max-width: 991px) {
	/*css tablet vertical o portrait*/
	header .container .con-logo {
		width: 10%
	}
	header .container .con-logo img {
		display: inline-block;
		width: 100%
	}
	header .container .menu {
		margin-left: 20%;
	}
	.container {
		width: 750px;
	}
	.columna-tv-100 {
		width: 100%;
	}
	.columna-tv-75 {
		width: 75%;
	}
	.columna-tv-66 {
		width: 66.66%;
	}
	.columna-tv-50 {
		width: 50%;
	}
	.columna-tv-33 {
		width: 33.33%;
	}
	.columna-tv-25 {
		width: 25%;
	}
	.contenedor-imagen {
		padding-bottom: 56.25%;
	}
}

@media (max-width: 767px) and (orientation: portrait) {
	/*css smarthphone horizontal*/
	html {
		font-size: 4vw;
	}
	header .container .con-logo {
		width: 25%;
	}
	header .container .menu {
		display: none;
		margin-left: 0;
	}
	.container {
		width: 100%;
	}
	.columna-m-100 {
		width: 100%;
	}
	.columna-m-75 {
		width: 75%;
	}
	.columna-m-66 {
		width: 66.66%;
	}
	.columna-m-50 {
		width: 50%;
	}
	.columna-m-33 {
		width: 33.33%;
	}
	.columna-m-25 {
		width: 25%;
	}
	.empujar-m-0 {
		margin-left: 0;
	}
	.orden-m-2 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	.orden-m-1 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	.contenedor-imagen {
		padding-bottom: 56.25%;
	}
	.padding-grande {
		padding: 30px;
	}
	.prefooter {
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
	}
	#testimonios .contenedor-testimonio .foto {
		width: 100px;
		height: 100px;
		border-radius: 100px;
	}
	#testimonios .contenedor-testimonio .texto-testimonio {
		padding: 15px;
		width: calc(100% - 103px);
	}
	#testimonios .contenedor-testimonio {
		margin: 15px 0;
	}
	.hamb {
		display: inline-block;
		font-size: 40px;
		color: var(--colorletras);;
	}
	.mostrar-mobile {
		display: block;
	}
	.ocultar-mobile {
		display: none;
	}
}

@media (max-width: 767px) and (orientation: landscape) {
	/*css smarthphone vertical*/
}