/*header img
{
	width: 100px;
}

#con-logo
{
	display: inline-block;
}*/
body
{
	color: black;
	font-size: 14px;
	font-family: Muli;
}

a{
	display: inline-block;
	text-decoration: none;
}

header{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

header a
{
	color: black;
}

header nav
{
	margin-top: 15px;
}

header nav a
{
	margin-right: 7.5px;
	margin-left: 7.5px;
}

footer
{
	padding: 15px;
	text-align: center;
	color: white;
	background-color: red;
}

/*footer span
{
	padding: 15px;
	background-color: red;
}*/


#logo
{
	width: 100px;
}

#inicio img
{
	width: 100%;
	display: block;
}